@keyframes slide {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes colors {
  from {
    color: hsl(50deg 100% 50%);
  }
}

.wrapper {
  margin: 16px 0;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}

.animated {
  animation: slide 750ms cubic-bezier(0.15, 0.75, 0.25, 1.05), colors 1500ms;
}
